body {
    font-family: 'Oswald', sans-serif;
    background-color: #F5F5DC;
    color: black;
}

.navbar {
    background-color: #92D293!important;
}
.navbar-brand {
    color: black!important;
    font-family: 'Pacifico', sans-serif;
    font-size: 30px;
}

.navbar-toggler {
    color: #EAEAEA!important;
    border-color: black!important;
    border-width: 2px;
}

.nav-link {
    color: black!important;
    font-size: 25px;
}

#logo {
    color:black;
    font-size: 30px;
}


.test_div {
	display: block;
	text-align: center;
	justify-content: center;
	margin: 20px;
}

.test_text {
	font-size: 60px;
}

.train_div {
    font-size: 60px;
}

.button {
    font-size: 40px;
    margin-left: 10px;
    width: 200px;
    background-color:#92D293
}

.not_street {
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color:#92D293

}

.route_div {
    justify-content: center;
    align-items: center;
}

.full_route {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
}

.find_div {
    display: flex;
    justify-content: center;
}

.iput {
    height: 40px;
}

.disclaimer_all {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.disclaimer_div {
    width: 700px;
    text-align: center;
}

.find_button {
    background-color:#92D293;
    width: 225px;
    height: 70px;
    font-size: 40px;
}

<<<<<<< HEAD
.map_div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map_button {
    background-color: #92D293;
    width: 400px;
    height: 70px;
    font-size: 40px;
}

.map_div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.map_button {
    background-color:#92D293;
    width: 400px;
    height: 70px;
    font-size: 40px;
}


.reward_div {
    height: 300px;
}


.points_div {
    margin-top: 25px;
    text-align: center;
}


.options_div {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


=======
>>>>>>> 7efec13a183545f63219c10de9048811a0f3508d
