{% extends 'base.html' %}
{% block title %}Generate Random Player{% endblock %}
{% block style %}{{url_for('static', filename='styles/test.css')}}{% endblock%}
{% block content%}
    	<style>
    	</style>
		<div class="test_div">
			<div class='title'>
				<h1 class='test_text'>Is this street clean or dirty?</h1>
			</div>
			<div class='img_div'>
				<img id='image' src='{{values[0]}}'>
			</div>
			<div class='train_div'>
				<form action='#' method='POST'>
					<input type='hidden' name='new' value='true'>					
					<input type='hidden' name='url' value='{{values[0]}}'>					
					<input class="button" type='submit' name='type' value='clean'>
				</form>
				<form action='#' method='POST'>
					<input type='hidden' name='new' value='true'>					
					<input type='hidden' name='url' value='{{values[0]}}'>					
					<input class="button" type='submit' name='type' value='dirty'>
				</form>

				<form action='#' method='POST'>
					<input type='hidden' name='new' value='true'>					
					<input type='hidden' name='url' value='{{values[0]}}'>					
					<input class="button" type='submit' name='type' value='trash'>
				</form>
				
			</div>
    	</div>
{% endblock %}