{% extends 'base.html' %}
{% block title %}Train{% endblock %}
{% block style %}{{url_for('static', filename='styles/test.css')}}{% endblock%}
{% block content%}
    	<style>
    	</style>
		<div class="test_div">
			<div class='title'>
				<h1 class='test_text'>Is this street clean or dirty?</h1>
			</div>
			<div class='img_div'>
				<img id='image' src='static/images/car.jpg'>
			</div>
			<div class='train_div'>
				<form action='#' method='POST'>
					<input type='hidden' name='new' value='true'>				
					<input type='hidden' name='url' value='{{values[0]}}'>					
					<p><input class="button" type='submit' name='type' value='clean'><input class="button" type='submit' name='type' value='dirty'></p>
					<input class="button" type='submit' name='type' value='unclear'>
					</p>
				</form>
				
			</div>
    	</div>
{% endblock %}